@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 32px;
}

a {
  text-decoration: none;
  color: #666666;
}

.body-flex-container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
    /* justify-self: flex-start; */
}

.right-links {
  margin-right: 32px;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color:#DDDDDD;
  /* justify-self: flex-end; */
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  flex: 1;
}
