.odd {
    background-color: pink;
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}

.fs24 {
    font-size: 24px;
}

#num2 {
    color: blue;
    font-size: 36px;
}

#lgb {
    font-weight: bold;
    background-color: lightgreen;
}